
{% if is_paginated %}
	
	<div class="pagination">
		<span class="step-links">
			{% if page.has_previous %}
				<a href="?page={{ page.previous_page_number }}">Previous</a>
			{% endif %}
		<span class="current">
			Page {{ page.number }} of {{ page.paginator.num_pages }}.
		</span>
			{% if page.has_next %}
			   <a href="?page={{ page.next_page_number }}">Next</a>
			{% endif %}
		</span>
	</div>

{% endif %}

{% comment %} {% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}"
 class="page-link">&laquo; PREV </a></li>
    {% endif %}    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}"
 class="page-link"> NEXT &raquo;</a></li>
    {% endif %}
  </ul>
  </nav></div>
{% endif %} {% endcomment %}